.Name{
    font-size: 24px;
    width: 70%;
    padding:.25rem;
    padding-inline: 3rem;
}
.title{
    display: flex;
    padding-inline: 3rem;
}
.title img{
    padding-inline: 10px;
}
button{
    background-color: #E00D0D;
    border-radius: 20px;
    border: none;
    width: 20%;
    padding: 10px;
    margin: 15px 1px;
    box-shadow: 2px 2px 5px 0px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-left: 3rem;
}